# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
.env/

# IDE
.vscode/
.idea/

# Output files
*.png
*.txt
*.cml
*.NEU
*.modfem
out
inp 